@import './mixins/mixins.scss';

.navbar {
    @include flexbox(center, space-between, column);
    width: 100%;
    background-color: #0e374e;
}

.link-container {
    @include flexbox(center, space-between, row);
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    margin: 0;
    color: white;
}