@use './variables/variables' as *;
@use './mixins/mixins.scss' as *;

.navbar {
    @include flexbox(center, space-between, column);
    width: 100%;
    background-color: $Light-Grayish-Blue;
}

.link-container {
    @include flexbox(center, space-between, row);
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    margin: 0;
    color: white;
}