@use '../styles/mixins/mixins' as *;
@use './variables/variables' as *;

.education-container {
    //@include xs {}
    font-size: $size-7;
}

.education-info {
    display: flex;
    justify-content: space-between;
}

.major, .gpa {
    margin: 2px 0; //xs 
}

.institute {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    p {
        position: relative;
        margin: 0;
    }

    p:not(:first-child) {
        padding-left: 5px;
    }

    p:not(:first-child)::before {
        content: '';
        position: absolute;
        left: 0;
        top: 20%;
        transform: translate(-50%);
        width: 1px;
        height: 5px;
        background: black; 
    }
}

.dates p{
    margin: 0;
}

