@use '../styles/mixins/mixins' as *;
@use './variables/variables' as *;

.resume-container {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
    // height: 29.7cm; desktop
    // width: 21cm; desktop
    // height: 24.7cm; sm
    // width: 14cm; sm
    // height: 17cm; //xs
    // width: 8cm; //xs

    width: 100%;
    max-width: 21cm;

    height: auto;
    aspect-ratio: 1 / 1.414;
}

.sections-container {
    display: flex;
    flex-direction: column;
    gap: 8px; //xs
    padding:10px;
}

.section {
    h2 {
        font-size: $size-10; //xs
        margin: 0;
    }
}

hr {
    margin: 3px 0;
}

