@use '../styles/mixins/mixins' as *;
@use './variables/variables' as *;

.experience-container {
    font-size: $size-10;
}

.experience-title {
    margin: 5px 0;
    font-weight: bold;
}

.job-info {
    display: flex;
    justify-content: space-between;
}

.company {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    p {
        position: relative;
        margin: 0;
    }

    p:not(:first-child) {
        padding-left: 5px;
    }

    p:not(:first-child)::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0%;
        transform: translate(-50%);
        width: 1px;
        height: 14px;
        background: black; 
    }
}

.dates p{
    margin: 0;
}

ul {
    margin: 0;
    font-style: italic;
}
