@mixin flexbox($align, $justify, $direction) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin fontProps($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}